* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;

  --red: #e45858;
  --purple: #6246ea;
  --border-color: #eaeaea;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.btn {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.2rem 3.2rem;
}

.primary {
  background: var(--purple);
  border-radius: 0.5rem;

  color: #fff;

  transition: background 200ms;
}
.primary:hover {
  background: #523dbe;
  /* filter: brightness(.8); */
  color: #fff;
}

.secondary {
  color: var(--purple);
  background: transparent;

  text-decoration: underline;
  text-decoration-color: transparent;
  /*add those for opera and mozilla support*/
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;

  transition: 200ms;
}
.secondary:hover {
  text-decoration-color: var(--purple);
  /*add those for opera and mozilla support*/
  -webkit-text-decoration-color: var(--purple);
  -moz-text-decoration-color: var(--purple);
}

body {
  font-size: 1.6rem;
}

input,
select,
button {
  font-family: "Roboto", sans-serif;
  all: unset;
}

input,
select {
  color: #7c7c8a;
  min-width: 29rem;
}

header {
  min-height: 53.2rem;
  background-color: #f8f8ff;

  position: relative;
  overflow: hidden;

  display: grid;
  place-content: center;
}

header::before {
  content: "";
  background-image: url(../images/bg-header-top.svg);
  width: 40.7rem;
  height: 34.5rem;

  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

header::after {
  content: "";
  background-image: url(../images/bg-header-bottom.svg);
  width: 41.4rem;
  height: 33rem;

  position: absolute;
  z-index: 0;
  bottom: -1.2rem;
  right: 0;
}

header .content {
  width: fit-content;

  position: relative;
  z-index: 1;
}

header .content .top {
  text-align: center;
}

header p {
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--red);
}

header h1 {
  font-size: 4.8rem;
  line-height: 125%;
  max-width: 64.7rem;
  color: #121214;
  margin: 1.8rem auto 0;
}

header h1 span {
  color: var(--purple);
}

header form {
  margin-top: 4rem;
  display: flex;
  padding: 4rem;
  gap: 2.4rem;

  background: #fff;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
}

header form button {
  padding: 1.2rem 3.2rem;
}

.search-field {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  background: #f4f4ff;
  border-radius: 0.5rem;
  padding: 1.2rem 0.8rem 1.2rem 1.4rem;
}

.search-field i {
  color: var(--red);
  font-size: 2.4rem;
}

.search-field.select,
.search-field select {
  position: relative;
}

.search-field select {
  z-index: 1;
}
.search-field.select i.ph-caret-down-light {
  position: absolute;
  right: 1.5rem;
  z-index: 0;
  color: #858793;
}

main{
  position: relative;
}

.error{
  position: absolute;
  left: 0;
  right: 0;
  top: -7.4rem;
  margin: 0 auto;

  max-width: 1216px;
  width: 100%;

  padding: 1rem 1.5rem;

  background: rgba(255, 0, 0, 0.151);
  border-radius: 0.5rem;
}

main > .content {
  max-width: 1216px;
  margin: 10rem auto;
}

section.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.top .view {
  display: flex;
  padding: 0.8rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 1rem;
}

section.cards {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.2rem;
}

.card {
  max-width: 38.4rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
  overflow: hidden;
}

.card .img{
  width: 38.4rem;
  height: 15.3rem;
  flex-shrink: 0;
}
.overlay_effect{
  background: rgba(97, 42, 160, 0.32);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.card .content {
  display: grid;
  padding: 1.6rem;
  gap: 1.6rem;
}

.card h3 {
  color: #121214;
  font-size: 2rem;
  line-height: 140%;
}

.card p,
.card .location {
  opacity: 0.75;
}

.card .location {
  opacity: 0.75;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.location i {
  color: var(--red);
  font-size: 2.4rem;
  opacity: 1;
}

/* responsivo - milha extra */
main {
  padding-inline: 4rem;
}

@media (max-width: 1024px) {
  :root {
    font-size: 50%;
  }

  header::before {
    background-size: 30vw;
    background-repeat: no-repeat;
  }
}

@media (max-width: 870px) {
  header .content {
    padding: 4rem;
  }

  header form {
    flex-direction: column;
  }
}

@media (max-width: 660px) {
  section.cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  section.cards {
    grid-template-columns: 1fr;
  }

  .card .img {
    width: 100%;
  }

  .card {
    max-width: 100%;
  }
}

.listPage {
  padding: 1rem;
  text-align: center;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listPage li {
  padding: 2rem;
  cursor: pointer;
}

